html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;   
    background-color: white;
    color: black;
    margin: 5px;
}

body { 
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    display: block;
}

* {
    box-sizing: border-box;
}

header {   
    background-color: black;
    color: cyan;
    text-align: left; 
    border-radius: 5px; 
    padding: 20px; 
}

article {
    padding: 20px;
}
header h1 p {
    padding: 20px;
}

nav {
    float: right;
} 

form {
    width: 100%;
    background-color: skyblue;
    border: 1px solid #aaccffff;
    border-radius: 5px;
}

div form {
    display: block;
}

button {
    color: cyan;
    background-color: black;
    align-self: center;
    border-radius: 5px;   
}

button:hover, button:focus {
  outline   : none;
  background: indigo;
  color   : white;
}

footer {
    background-color: black;
    color: cyan; 
    text-align: center;   
}

.form-row-2 * {
    width: 75%
}

.long-x-axis {
    overflow-x: auto;
}

table {
    border-spacing: 1px;
    width: 100%;
    border-collapse: separate;
}

th {
    background-color: black;
    color: cyan;

}

th, td {
    text-align: left;
    padding: 5px;
}

td {
    border: 1px solid grey;
}

tr:nth-child(odd) {
    background-color: skyblue
}

tr:hover {
    background-color: grey;
}