html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;   
    background-color: white;
    color: black;
    margin: 5px;
}

body { 
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    display: block;
}

header {
    background-color: black;
    color: cyan;
    text-align: left; 
    border-radius: 5px; 
    padding: 0px; 
}

header h1 {
    padding: 20px;
}

header p {
    padding: 20px;
}

nav {
    float: right;
} 


form {
    width: 100%;
    background-color: #aaccffff;
    border: 1px solid #aaccffff;
    border-radius: 5px;
}

div form {
    display: block;
}

button {
    color: cyan;
    background-color: black;
    align-self: center;
    border-radius: 5px;   
}

button:hover, button:focus {
  outline   : none;
  background: #000;
  color   : #FFF;
}

footer {
    background-color: black;
    color: cyan; 
    text-align: center;   
}

.form-row-2 * {
    width: 75%
}

